// ============================================================================ //
// APP SHELL - PRINT
// ============================================================================ //

@media print {
    .app-shell {
        display: block;
        height: auto;
        overflow: visible;
    }
}
