// ============================================================================= //
//                                      FLAGS                                    //
// ============================================================================= //

// Color primitives
$primitives-options: (
  'default': 'primitives',
) !default;

$primitives: 'default' !default;

// Darm mode 
$is_dark_mode_auto: false !default;
$is_dark_mode_forced: true !default;