/* ==========================================================================*/
/*                          UTILITY CLASSES: SIZING                          */
/* ==========================================================================*/

// Width
.width {
    &-full {
        width: 100%;
    }

    &-auto {
        width: auto;
    }

    &-screen {
        width: 100vw;
    }

    &-min {
        width: min-content;
    }

    &-max {
        width: max-content;
    }
}

// Height
.height {
    &-full {
        height: 100%;
    }

    &-auto {
        height: auto;
    }

    &-screen {
        height: 100vh;
    }

    &-min {
        height: min-content;
    }

    &-max {
        height: max-content;
    }
}

// Max Width
.max-width {
    &-full {
        max-width: 100%;
    }

    &-none {
        max-width: none;
    }
}

// Max Height
.max-height {
    &-full {
        max-height: 100%;
    }

    &-none {
        max-height: none;
    }
}