@use '../abstracts/variables/foundation/z-index-scale' as z-index;

/* ==========================================================================*/
/*                          UTILITY CLASSES: Z-INDEX                         */
/* ==========================================================================*/

.z-index {

    // Content layers
    @each $key, $value in z-index.$z-index-content {
        &-#{$key} {
            z-index: $value;
        }
    }

    // Overlay layers
    @each $key, $value in z-index.$z-index-overlay {
        &-#{$key} {
            z-index: $value;
        }
    }

    // Common raw values
    &-0 {
        z-index: 0;
    }

    &-10 {
        z-index: 10;
    }

    &-20 {
        z-index: 20;
    }

    &-30 {
        z-index: 30;
    }

    &-40 {
        z-index: 40;
    }

    &-50 {
        z-index: 50;
    }

    &-auto {
        z-index: auto;
    }
}