@use '@pulwave/tokens/styles/scss/abstracts' as *;

.chart--radial-bar {
    position: relative;
    width: 100%;

    &--empty {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-text-subtle);
    }
}