@use '../abstracts' as *;

/* ========================================================================== */
/*                        COMPONENT: PHONE SELECT                             */
/* ========================================================================== */

.country-flag-circle {
    width: var(--scale-5); // 20px
    height: var(--scale-5); // 20px
    border-radius: var(--radius-full);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-shrink: 0;
}

.country-flag-img {
    width: 150%;
    height: auto;
    min-height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}