@use '@pulwave/tokens/styles/scss/abstracts' as *;

.burger-menu {
    &--state-active {
        .burger-menu__line {
            &--top {
                transform: rotate(45deg);
            }

            &--middle {
                opacity: 0;
                transform: translateX(var(--scale-5));
            }

            &--bottom {
                transform: rotate(-45deg);
            }
        }
    }
}
