@use '@pulwave/tokens/styles/scss/abstracts' as *;

.chart--pictogram {
    position: relative;
    width: 100%;

    &--grid {
        width: fit-content;
    }

    &__row {
        margin-bottom: var(--scale-3);
    }

    &__label {
        margin-bottom: var(--scale-1);
        display: flex;
        justify-content: space-between;
        font-size: var(--font-size-body-xs);

        &-name {
            font-weight: var(--font-weight-medium);
            color: var(--color-text-primary);
        }

        &-value {
            opacity: 0.7;
            color: var(--color-text-secondary);
        }
    }

    &__icons {
        display: flex;
        flex-wrap: wrap;
        gap: var(--icon-gap);
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(var(--icons-per-row), var(--icon-size));
        gap: var(--icon-gap);
    }

    &__icon {
        color: var(--icon-color);
        font-size: var(--icon-size);
        line-height: 1;
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.2);
        }
    }
}