@use '@pulwave/tokens/styles/scss' as *;

.card {
    display: flex;
    flex-direction: column;
    background: var(--color-surface-subtle);
    border-radius: var(--border-radius-2xl);
    overflow: hidden; // Ensure children don't overflow rounded corners
    transition: transform var(--duration-fast) var(--easing-ease-out), box-shadow var(--duration-fast) var(--easing-ease-out);
}