@use 'neutral' as neutral;

// ============================================================================= //
//                     VARIABLES: COLOR SEMANTICS - SKELETON                     //
// ============================================================================= //

// ---------------------------------------------------------------------------//
// SKELETON COLORS
// ---------------------------------------------------------------------------//

// Light Mode
$color-skeleton-base: neutral.$color-neutral-100 !default;
$color-skeleton-highlight: neutral.$color-neutral-200 !default;
$color-skeleton-shimmer: linear-gradient(
  90deg,
  neutral.$color-neutral-100 0%,
  neutral.$color-neutral-200 50%,
  neutral.$color-neutral-100 100%
) !default;

// Dark Mode
$color-skeleton-base-dark: neutral.$color-neutral-800 !default;
$color-skeleton-highlight-dark: neutral.$color-neutral-700 !default;
$color-skeleton-shimmer-dark: linear-gradient(
  90deg,
  neutral.$color-neutral-800 0%,
  neutral.$color-neutral-700 50%,
  neutral.$color-neutral-800 100%
) !default;