@use 'neutral' as neutral;

// ============================================================================= //
//                     VARIABLES: COLOR SEMANTICS - SKELETON                     //
// ============================================================================= //

// ---------------------------------------------------------------------------//
// SKELETON COLORS
// ---------------------------------------------------------------------------//

// Light Mode
$color-skeleton-base: neutral.$color-neutral-200 !default;
$color-skeleton-highlight: neutral.$color-neutral-300 !default;
$color-skeleton-shimmer: linear-gradient(90deg,
    neutral.$color-neutral-200 0%,
    neutral.$color-neutral-300 50%,
    neutral.$color-neutral-200 100%) !default;

// Dark Mode
$color-skeleton-base-dark: neutral.$color-neutral-700 !default;
$color-skeleton-highlight-dark: neutral.$color-neutral-600 !default;
$color-skeleton-shimmer-dark: linear-gradient(90deg,
    neutral.$color-neutral-700 0%,
    neutral.$color-neutral-600 50%,
    neutral.$color-neutral-700 100%) !default;