@use '@pulwave/tokens/styles/scss/abstracts' as *;

.card-grid {

    // Gap Modifiers
    &--gap-s {
        --card-grid-gap: var(--scale-3);
    }

    &--gap-m {
        --card-grid-gap: var(--scale-6);
    }

    &--gap-l {
        --card-grid-gap: var(--scale-8);
    }

    &--gap-xl {
        --card-grid-gap: var(--scale-10);
    }

    // Min Width modifiers
    &--min-width-narrow {
        --card-grid-min: var(--scale-60); // 240px
    }

    &--min-width-standard {
        --card-grid-min: var(--scale-70); // var(--scale-70)
    }

    &--min-width-wide {
        --card-grid-min: var(--scale-80); // 320px
    }
}