@use 'sass:map';
@use '../variables/semantics/breakpoints' as semantics;

@mixin generate-breakpoints-tokens() {

  /* ========================================================================== */
  /*                             TOKENS: BREAKPOINTS                            */
  /* ========================================================================== */

  // -------------------------------------------
  // BREAKPOINT TOKENS - Minimum Widths
  // -------------------------------------------

  --breakpoint-xs: #{semantics.$breakpoint-xs};
  --breakpoint-s: #{semantics.$breakpoint-m};
  --breakpoint-m: #{semantics.$breakpoint-m};
  --breakpoint-l: #{semantics.$breakpoint-l};
  --breakpoint-xl: #{semantics.$breakpoint-xl};
  --breakpoint-2xl: #{semantics.$breakpoint-2xl};

  /* BREAKPOINT TOKENS - Maximum Widths */

  --breakpoint-xs-max: #{semantics.$breakpoint-xs-max};
  --breakpoint-s-max: #{semantics.$breakpoint-s-max};
  --breakpoint-m-max: #{semantics.$breakpoint-m-max};
  --breakpoint-l-max: #{semantics.$breakpoint-l-max};

  /* -------------------------------------------------------------------------- */
  /*                             BREAKPOINTS: LEGACY                            */
  /* -------------------------------------------------------------------------- */
  /* Maintained for backward compatibility */     

  --breakpoint-phone: 480px;
  --breakpoint-phone-horizontal: 767px;
  --breakpoint-tablet: 768px;
  --breakpoint-tablet-horizontal: 1024px;
  --breakpoint-desktop: 1200px;
  }
