@use 'sass:map';
@use '../variables/foundation/positioning-scale' as pos;

@mixin generate-positioning-tokens() {
  /* ========================================================================== */
  /*                            TOKENS: POSITIONING                             */
  /* ========================================================================== */

  /* -------------------------------------------------------------------------- */
  /*                            POSITIONING: NUMERIC                            */
  /* -------------------------------------------------------------------------- */

  @each $key, $value in pos.$positioning-scale {
    --position-#{$key}: #{$value};
  }

  /* -------------------------------------------------------------------------- */
  /*                          POSITIONING: PERCENTAGE                           */
  /* -------------------------------------------------------------------------- */

  @each $key, $value in pos.$positioning-percentages {
    --position-#{$key}-percent: #{$value};
  }

  /* -------------------------------------------------------------------------- */
  /*                             POSITIONING: INSET                             */
  /* -------------------------------------------------------------------------- */

  --inset-none: #{pos.$inset-none};
  --inset-xs: #{pos.$inset-xs};
  --inset-s: #{pos.$inset-s};
  --inset-m: #{pos.$inset-m};
  --inset-l: #{pos.$inset-l};
  --inset-xl: #{pos.$inset-xl};
  
  /* -------------------------------------------------------------------------- */
  /*                              POSITIONING: AUTO                             */
  /* -------------------------------------------------------------------------- */
  
  --position-auto: #{pos.$auto};
}