@use '@pulwave/tokens/styles/scss/abstracts' as *;

.mobile-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--mobile-header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--mobile-header-padding);
    background: var(--mobile-header-bg);
    border-bottom: 1px solid var(--mobile-header-border);
    z-index: var(--z-index-fixed);

    @include bp-up(l) {
        display: none;
    }
}
