@use '@pulwave/tokens/styles/scss/abstracts' as *;

.link {
    display: inline-flex;
    align-items: center;
    gap: var(--link-gap);
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition-fast);
}