@use 'sass:map';
@use '../../variables/foundation/image-scale' as scale;
@use '../../functions/foundation/unit-conversion' as fn;

// ========================================================================== //
//                        VARIABLES: IMAGES SEMANTICS                         //
// ========================================================================== //

// -------------------------------------------
// LEGACY
// -------------------------------------------

$image-width-xs: fn.rem(152);
$image-width-s: fn.rem(203);
$image-width-sm: fn.rem(250);
$image-width-m: fn.rem(338);
$image-width-l: fn.rem(474);
$image-width-display: fn.rem(778);

$image-height-xs: fn.rem(90);
$image-height-s: fn.rem(120);
$image-height-m: fn.rem(200);
$image-height-l: fn.rem(280);
$image-height-display: fn.rem(460);

$image-width-captcha: fn.rem(286);
$image-height-captcha: fn.rem(40);
$image-star-alliance: fn.rem(270);
$logo-max-width: fn.rem(180);