@use '../../../abstracts/functions' as fn;

// ============================================================================ //
//                        VARIABLES: SEMANTICS - SPACING                        //
// ============================================================================ //

// -------------------------------------------
// LEGACY                                      
// -------------------------------------------
$space-none: 0;
$space-xs: fn.rem(4);
$space-s: fn.rem(8);
$space-sm: fn.rem(10);
$space-base: fn.rem(16);
$space-m: fn.rem(24);
$space-ls: fn.rem(28);
$space-l: fn.rem(30);
$space-lm: fn.rem(35);
$space-xl: fn.rem(40);
$space-xxl: fn.rem(48);
$space-xxxl: fn.rem(96);
